.vertical-timeline {
  &::before {
    background-color: rgb(111, 123, 139); // slate-600 (dark)
  }
}

/* Dark mode */
.dark {
  .vertical-timeline {
    &::before {
    background-color: rgb(226, 232, 240); // slate-200 (light)
    }
  }
}

.vertical-timeline span {
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}