.about-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  @media screen {
    @media (max-width: 768px) {
      .about-container {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }